PORT=8080

# Fabric (admin) credentials
FABRIC_CCP_JSON=../fabric-work/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/connection-org1.json
FABRIC_MSPID=Org1MSP
FABRIC_ID_LABEL=admin
FABRIC_CERT_PEM=../fabric-work/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp/signcerts/cert.pem
FABRIC_KEY_PEM=../fabric-work/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp/keystore/priv_sk

# Issuer DID (bootstrap 후 기록)
ISSUER_ID=certcenter
ISSUER_DID=did:anam145:issuer:certcenter
